{% if site.author.googlescholar %}
  {% if page.lang == "zh" %}
    <div class="wordwrap">你也可以在<a href="{{ site.author.googlescholar }}">我的 Google Scholar 主页</a>查看论文。</div>
  {% else %}
    <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
  {% endif %}
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{% if page.lang == "zh" and category[1].title_zh %}{{ category[1].title_zh }}{% else %}{{ category[1].title }}{% endif %}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
